# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
.idea/misc.xml
# Ignore folder 
/.idea
/__pycache__
data/pre-trained/glove.6B.zip
